@tailwind base;
@tailwind components;
@tailwind utilities;

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.container {
    display: flex;
    width: 100%;
}

.actions {
    flex: 1;
    max-width: 20%; /* Adjusted to 20% */
    min-width: 20%;
}

.table {
    flex: 4;
    max-width: 80%; /* Adjusted to 80% */
}

.message {
    overflow-wrap: break-word;
}



/* .card {
    max-width: 20%;
    height: auto;
    flex: 1 1 auto;
    max-width: calc(33.33% - 2rem); Adjust based on the number of cards and desired spacing
    box-sizing: border-box;
} */